
.instrument-sans-bold {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  .inter-light-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
 
  .features-container {
    width: 100%;
    background-color: white;
    padding: 80px 40px;
  }
  
  .features-header {
    max-width: 1200px;
    margin: 0 auto 60px;
    text-align: left;
  }
  
  .features-title {
    font-size: 36px;
    margin-bottom: 10px;
    position: relative;
    color: #000;
  }
  
  .highlight {
    color: #B997EA;
  }
  
  .title-underline {
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 20px;
  }
  
  .features-description {
    font-size: 18px;
    line-height: 1.6;
    color: #505050;
    max-width: 900px;
  }
  
  .features-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .feature-card {
    flex: 1;
    min-width: 300px;
    border: 1px solid #121212;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* .feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  } */
  
  .card-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-icon img {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #000;
  }
  
  .card-description {
    font-size: 16px;
    line-height: 1.6;
    color: #505050;
  }
  

  @media (max-width: 1024px) {
    .features-cards {
      justify-content: center;
    }
    
    .feature-card {
      min-width: 280px;
      max-width: 400px;
    }
  }
  
  @media (max-width: 768px) {
    .features-container {
      padding: 60px 20px;
    }
    
    .features-title {
      font-size: 30px;
    }
    
    .features-description {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .feature-card {
      min-width: 100%;
    }
  }